@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Library App!</h1>
    <p>Click the Book links in the navigation to get started. This application keeps track of the books that are borrowed from a library.</p>
</div>
